@import 'settings/colours';
@import 'components/root';
@import 'components/splatgrid';
@import 'components/splatelement';
@import 'components/voteconfirm';

@font-face {
    font-family: badaboom;
    src: url(/fonts/badaboom.ttf);
}

body {
  margin: 0;
}

h1 {
  font-family: badaboom;
  font-size: 6rem;
  font-weight: normal;
  margin: 0;
  padding: 20px;
}
