@import 'settings/colours';
@import 'components/root';
@import 'components/splatgrid';
@import 'components/splatelement';
@import 'components/voteconfirm';

body {
  background-image: url("/images/background.jpg");
  background-color: #cccccc;
  background-size: cover;
  margin: 0;
}

h1 {
  // margin: 0;
}
