@import 'settings/colours';
@import 'components/root';
@import 'components/splatgrid';
@import 'components/splatelement';
@import 'components/voteconfirm';

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 20px;
}
