.root {
  background-image: url("/images/background.jpg");
  background-position: center center;
  background-size: cover;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}

.root-splatgrid {
  padding: 0 5% 0 5%;
}

.root-voteconfirm {
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
