.splatgrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.splatgrid-element {
  flex-basis: 150px;
  flex-grow: 1;
  max-width: 25%;
  padding: 20px;
}
